
/*----------------Variables----------------*/
$xs : 767px;
$sm : 992px;
$md : 1200px;
$light-grey: #F2F2F2;
$md-grey: #242424;
$dark-grey: #1B1B1B;
$grey-text: #727272;
$theme: #F63B35;
$button: #F5383A;