article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

*, *:before, *:after {
	box-sizing:border-box;
} 
.left {
	float: left;
}
.right{
	float: right;
}
/* End of setup styles */

/*----------------Variables----------------*/
$xs : 767px;
$sm : 992px;
$light-grey: #F2F2F2;

/*----------------General styles----------------*/



body {
	font-family: 'Source Sans Pro', sans-serif;
}
h1,h2  {
	font-family: 'Aguafina Script', cursive;
}
h2 {
	font-size: 48px;
}
.container { 
	@media (min-width: $sm){
		padding-left: 120px;
		padding-right: 120px;
	}
}


/*----------------Header styles----------------*/
header {
	position: absolute;
	width: 100%;
}

#header-top {
	background: black;
	color: white; 
	padding: 14px 0;
}
#header-bottom {
	padding: 20px 0;
	background:rgba(34, 34, 34, 0.741176);
	color: white;
	a {
		color: white;
	}
}


/*----------------Jumbotron styles----------------*/
.jumbotron {
	margin-bottom: 0;
	color: white;
	background: url(../assets/home/restaurant-hero-bg.jpg) no-repeat center;
	padding: 40vh 0 15vh 0;
	height: 100vh;
	h1 {
		font-size: 72px;
	}
	h3::before {
		content:" ";
		width: 25px;
		height:1px;
		background: white;
		display: inline-block;
		margin-right: 20px;
		position: relative;
		bottom: 7px;
	}
	h3::after {
		content:" ";
		width: 25px;
		height:1px;
		background: white;
		display: inline-block;
		margin-left: 20px;
		position: relative;
		bottom: 7px;
	}
}

/*----------------About styles----------------*/

.about-section {
	@media (max-width: $xs){
		padding: 60px;
	}
	padding: 60px 0;
} 
.about-text{
	@media (min-width: $xs){
		padding-right: 45px;
	}
}
.about-img {
	@media (min-width: $xs){
		padding-left: 45px;
	}
	img {
		margin: auto;
		// max-width: 350px;
	}
}

/*----------------Specials styles----------------*/
.specials {
	background: $light-grey;
	h2 {
		position: relative;
		top: -15px;
	}
	ul {
		padding: 0;
	}
	li {
		list-style: none;
	}
}
.specials-container {
	padding: 30px 40px;
}
.specials-background {
	
	min-height:400px; 
	padding: 0 7%;
	@media (min-width:$xs){
		background: url(../assets/home/specials-border.png) no-repeat;
		background-position: center top;
		min-height: 600px;
		background-size: contain;
	}

}
.cutlery {
	position: relative;
	top: 30px;
	right: 15px;
	margin: auto;
}
/*----------------Reservations styles----------------*/

.reservations {
	background: url(../assets/header-background.jpg);
	color: white;
	padding: 30px;
	input {
		display: block;
		width: 100%;
		margin-top: 20px;
	}
}

/*----------------Services styles----------------*/

.services {
	background: $light-grey;
	p {
		width: 75%;
		margin: auto;
	}
}
.service-group {
	padding: 30px 0;
	margin-bottom: 30px;
}
.service-img {
	position:absolute;
	top: -13px;
	width: 85%;
}
.service-text {
	background: white;
	margin-top: 50px;
	height: 120px;
	h4 {
		position: absolute;
		bottom: 0;
		width: 80%;
	}
}
.service-bot {
	@media (max-width: $xs) {
	margin-top: 100px;	
	}
}
.service-img-bot {
	@media (max-width: $xs){
		top: 35px;
	}
}







