/*-----------------Partials----------------*/
@import 'setup';
@import 'variable';
@import 'menu'; 

/*----------------General styles----------------*/



body {
	font-family: 'Source Sans Pro', sans-serif;
}
h1,h2  {
	font-family: 'Aguafina Script', cursive;
}
h2 {
	font-size: 48px;
}
.container { 
	@media (min-width: $sm){
		padding-left: 120px;
		padding-right: 120px;
	}
}
.table {
	display: table;
}
.d-table {
	@media (min-width: $xs){
		display: table;
	}
}
.valign {
	display: table-cell;
	vertical-align: middle;
}
.d-valign {
	@media (min-width: $xs){
		display: table-cell;
		vertical-align: middle;
	}
}



/*----------------Header styles----------------*/
header {
	position: absolute;
	width: 100%;
}

#header-top {
	background: black;
	color: white; 
	padding: 14px 0;
}
.header-welcome {
	display: inline-block;
	width: 100%;
	text-align: center;
	@media (min-width: $xs) {
		width: auto;
		text-align: left;
	}

}
.header-info {
	@media (min-width: $xs) {
		float: right;
	}
	.item {
		text-align: center;
		@media (min-width: $xs) {
			text-align: left;
		}
	}
}
.navbar-brand {
	padding: 0;
	position: relative;
	top: 5px;
	left: 25px;	
    @media (min-width: $xs) {
		top: 5px;
	    left: 25px;		
    }

}
#header-bottom {
	padding: 20px 0;
	background:rgba(34, 34, 34, 0.741176);
	color: white;
	ul {
			a {
				color: white;
				padding-left: 22px;
		    	padding-top: 4px;
		    	transition: all 0.5s ease;
		    	text-decoration: none;
		    	@media (min-width: $xs) {
		    		padding-left: 20px;
		    		padding-right: 20px;
		    		padding-top: 12px;
		    	}
		    	&:hover {
		    		color: $theme;
		    		// text-decoration: underline;
		    	}
		    	&:before {
		    		@media (min-width: $xs) {
		    			content: "";
		    		  	position: absolute;
		    		  	width: 100%;
		    		  	height: 2px;
		    		  	bottom: 0;
		    		 	left: 0;
		    		 	background-color: $theme;
		    		  	visibility: hidden;
		    		  	-webkit-transform: scaleX(0);
		    		  	transform: scaleX(0);
		    		  	-webkit-transition: all 0.3s ease-in-out 0s;
		    		  	transition: all 0.3s ease-in-out 0s;
		    		}
		    		
		    	}
		    	&:hover:before {
		    		@media (min-width: $xs) {
		    			visibility: visible;
		    		 	-webkit-transform: scaleX(1);
		    		 	transform: scaleX(1);
		    		}
		    	}
			}
	}
	
}


/*----------------Jumbotron styles----------------*/
.jumbotron {
	margin-bottom: 0;
	color: white;
	background: url(../assets/home/restaurant-hero-bg.jpg) no-repeat center;
	padding: 40vh 0 15vh 0;
	height: 100vh;
	h1 {
		font-size: 50px;
		@media (min-width: $xs){
			font-size: 72px;
		}
	}
	h3::before {
		content:" ";
		width: 25px;
		height:1px;
		background: white;
		display: inline-block;
		margin-right: 20px;
		position: relative;
		bottom: 7px;
	}
	h3::after {
		content:" ";
		width: 25px;
		height:1px;
		background: white;
		display: inline-block;
		margin-left: 20px;
		position: relative;
		bottom: 7px;
	}
}

/*----------------About styles----------------*/

.about-section {
	padding: 45px;
	@media (min-width: $xs){
		padding: 60px 0;
		width: 50%;
	}
} 
.about-text{
	@media (min-width: $xs){
		padding-right: 45px;
	}
	img {
		max-width: 100%;
	}
}
.about-img {
	padding-top: 0;
	@media (min-width: $xs){
		padding-top: 60px;
		padding-left: 45px;
	}
	img {
		max-width: 100%;
		margin: auto;
		width: 150px;
		@media (min-width: $xs){
			width: 350px;
		}
		// max-width: 350px;
	}
}

/*----------------Specials styles----------------*/
.specials {
	background: $light-grey;
	h2 {
		position: relative;
		top: -15px;
		@media (min-width: $xs) {
			margin-bottom: 20px;
		}
		@media (min-width: $sm) {
			margin-bottom: 40px;
		}
	}
	ul {
		padding: 0;
	}
	li {
		list-style: none;
		font-size: 15px;
		@media (min-width: $sm) {
			font-size: 22px;
		}

	}
	p {
		margin: 10px 0;
	}
}
.specials-container {
	padding: 30px 40px;
}
.specials-background {
	
	min-height:400px; 
	padding: 0 7%;
	@media (min-width:$xs){
		background: url(../assets/home/specials-border.png) no-repeat;
		background-position: center top;
		height: 450px;
		background-size: 100% 450px;
	}
	@media (min-width: $sm){
		height: 500px;
		background-size: 100% 500px;
	}

}
.all-menu {
	border: 2px solid black;
	color: black;
	padding: 10px 40px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.5s ease;
	&:hover {
		background-color: black;
		color: white;
		text-decoration: none;
	}
	@media (min-width:$xs){
		position: relative;
		top: 40px;
	}
	@media (min-width:$sm){
		top: 45px;
	}
}
.cutlery {
	position: relative;
	top: 30px;
	right: 15px;
	margin: auto;
}
/*----------------Reservations styles----------------*/

.reservations {
	background: url(../assets/header-background.jpg);
	color: white;
	padding: 30px;
	input {
		display: block;
		width: 100%;
		margin-top: 20px;
	}
}
.reservations-container {
	@media (max-width:$xs) {
		max-width: 400px;
	}
}

/*----------------Services styles----------------*/

.services {
	background: $light-grey;
	padding-top: 30px;
	p {
		width: 75%;
		margin: auto;
	}
}
.service-group {
	padding: 30px 0;
	margin-bottom: 30px;
}
.service-img {
	position:absolute;
	top: -13px;
	width: 85%;
}
.service-text {
	background: white;
	margin-top: 50px;
	height: 120px;
	h4 {
		position: absolute;
		bottom: 0;
		width: 80%;
	}
}
.service-bot {
	@media (max-width: $xs) {
	margin-top: 100px;	
	}
}
.service-img-bot {
	@media (max-width: $xs){
		top: 35px;
	}
}


/*----------------Welcome styles----------------*/

.welcome {
	padding: 50px;
	background: url(../assets/header-background.jpg);
	color: white;
	p {
		width: 75%;
		margin: auto;
	}
}

/*----------------Footer styles----------------*/

.footer-top {
	padding: 20px;
	background: $md-grey;
	color: $grey-text;
	h4 {
		color: white;
		margin-bottom: 20px;	
	}
	ul {
		padding: 0;
	}
	li {
		list-style: none;
	}

}
.submit-btn {
	background: $button;
	border: none;
	color: white;
}

.footer-address {
	ul {
		padding-left: 20px;
	}
}
.footer-location::before {
	content: url(../assets/footer/icon-footerPin.png);
	display: inline;
	position: absolute;
	left: 10px;
}
.footer-phone::before {
	content: url(../assets/footer/icon-footerPhone.png);
	display: inline;
	position: absolute;
	left: 10px;
}
.footer-email::before {
	content: url(../assets/footer/icon-footerEmail.png);
	display: inline;
	position: absolute;
	left: 10px;
}
.footer-bot {
	color: white;
	padding: 30px;
	background: $dark-grey;
}
.circle-background {
	display: inline-block;
	width: 42px;
	height: 42px;
	background: $md-grey;
	border-radius: 50%;
	margin: 20px;
	transition: all 0.5s ease;
	&:hover {
		background-color: $theme;
	}
	i {
		font-size: 25px;
		position: relative;
		top: 8px;
		left: 0px;
	}
}










